# Database
DATABASE_URL=postgresql://rose_user:rose_password@127.0.0.1:5432/rose_db

# JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# SMS Mode
SMS_MODE=live

# Google Maps
GOOGLE_MAPS_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# App
DEBUG=True